section {
  padding: 1rem 0;
}

.uploadfile {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px dotted black;
  width: 78%;
  height: 40px;
  color: white;
  cursor: pointer;
  font-size: large;
  background-color: rgba(0, 46, 136, 78%);
}

label span {
  font-weight: lighter;
  font-size: small;
  padding-top: 10px;
}

.upload {
  display: none;
}

img {
  padding: 0;
  margin: 0;
  width: 100px;
  height: 100px;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(217, 217, 217, 27%);
  width: 300px;
  margin: auto;
  border-radius: 30px;
}

.image {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.image button {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgba(0, 46, 136, 78%);
}

.image p {
  padding: 0 0.5rem;
  margin: 0;
}

.upload-btn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  width: 5rem;
  height: 2rem;
  color: white;
  background-color: rgba(0, 46, 136, 78%);
}

.error {
  text-align: center;
}

.error span {
  color: red;
}
@media (max-width: 1024px) {
  .uploadfile {
    width: 250px;
  }
  img {
    padding: 0;
    margin: 0;
    width: 70px;
    height: 70px;
  }
}
