.réclamation-cards-container {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
  cursor: pointer;
  a {
    color: rgba(0, 46, 136, 78%);
    text-decoration: none;
  }
}
.inner-section {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
}

.tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.nav {
  width: 400px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  margin: auto;
}

.nav-pills {
  border: 2px solid rgba(0, 46, 136, 78%);
  border-radius: 9px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: rgba(0, 46, 136, 78%);
  border-radius: none;
}

@media (max-width: 480px) {
  .tab-container {
    margin: auto;
  }
  .item {
    font-size: 14px;
  }
  .réclamation-cards-container {
    width: 100%;
  }
  .inner-section {
    width: 80%;
  }
}
