.form {
  display: block;
  text-align: center;
  margin-top: 40px;
}
* {
  font-family: 'Arial';
  font-size: 16px;
}
.labels {
  display: block;
  margin-top: 20px;
  margin-right: 650px;
  text-align: center;
}
.border {
  width: 60%;
  margin: auto;
  margin-top: 20px;
}
.files {
  margin-right: 170px;
}
.email {
  margin-right: 650px;
}

.input {
  padding: 5px;
  background-color: rgba(217, 217, 217, 27%);
  width: 700px;
  margin: auto;
}
.textarea {
  padding: 5px;
  background-color: rgba(217, 217, 217, 27%);
  border-radius: 5px;
  margin: auto;
  width: 700px;
  height: 100px;
}
.container-checkbox {
  text-align: center;
}
.biglabels {
  display: block;
  margin-top: 20px;
  margin-right: 600px;
  text-align: center;
}

.button {
  background-color: rgba(0, 46, 136, 78%);
  color: white;
  padding: 5px;
  width: 200px;
  border: none;
}
.span {
  border-bottom: 2px solid rgba(0, 0, 0, 0.793);
  margin-right: 580px;
}
#file {
  background-color: rgba(0, 46, 136, 78%);
  color: white;
}
.numero {
  margin-right: 560px;
}

@media (max-width: 1024px) {
  .input {
    width: 250px;
  }
  .textarea {
    width: 250px;
  }
  .labels {
    display: block;
    margin-top: 20px;
    margin-right: 200px;
  }
  .email {
    margin-right: 210px;
  }
  .numero {
    margin-right: 115px;
  }
  .span {
    margin-right: 130px;
  }
  .button {
    width: 100px;
  }
  .biglabels {
    margin-right: 150px;
  }
  .border {
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }
} ;
